<div class="section is-dark no-padding-bottom">
    <div class="container">
        <div class="col text-align-center lg-7 block-centered no-margin-bottom md-12">
            <div class="pre-title">Get in touch</div>
            <h2>Let’s work together</h2>
            <div class="text-medium margin-bottom">If you have a website or mobile app idea in mind or you need some
                advice
                about software, feel free to <a href="mailto:hello@irsyad.dev"><strong>contact me.</strong></a>
                Currently my time books quickly, so the sooner you write, the better it is for both of us.</div><a
                href="mailto:hello@irsyad.dev"
                class="flexh-align-center flexh-justify-center margin-bottom-double w-inline-block"><img
                    src="assets/images/oliversmall.jpg" width="70" alt="" class="margin-right rounded-pic">
                <div class="c-testimonial1__text">
                    <div class="contact-text text-small"><strong>Reply time:</strong> within 1-2 working days</div>
                </div>
            </a>
            <a href="mailto:hello@irsyad.dev" class="button-primary margin-bottom-double w-inline-block">
                <div class="button-primary-text lowercase">hello@irsyad.dev</div>
            </a>
            <div class="flexh-space-between maxwidth300 margin-bottom-double">
                <a href="#" class="fa-brand on-dark low-text-contrast size22"></a>
                <a href="https://twitter.com" class="fa-brand on-dark low-text-contrast size22"></a>
                <a href="#" class="fa-brand on-dark low-text-contrast size22"></a>
                <a href="https://instagram.com" class="fa-brand on-dark low-text-contrast size22"></a>
                <a href="https://facebook.com" class="fa-brand on-dark low-text-contrast size22"></a>
            </div>
            <p class="text-xsmall low-text-contrast">&copy; {{ 'now' | date: "%Y" }} All rights reserved. – <a href="#"
                    class="on-dark">Designed
                    &amp; Coded by Irsyad Jamal Pratama Putra</a></p>
        </div>
    </div>
</div>