<div class="section-header is-sticky">
    <div class="container space-between">
        <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
            <div class="navbar-container style2 w-container">
                <a href="index.html" class="brand order-first w-nav-brand w--current">
                    <h3 class="logotype">Irsyad Jamal</h3>
                </a>
                <nav role="navigation" class="nav-menu order-last w-nav-menu">
                    <a href="about.html" class="nav-link w-nav-link">About</a>
                    <a href="work.html" class="nav-link w-nav-link">Work</a>
                    <a href="blog.html" class="nav-link last-nav-link w-nav-link">Blog</a>
                    <div data-hover="1" data-delay="0" data-w-id="01e58773-c64f-f5db-e601-6fa430a5b93f"
                        class="nav-dropdown w-dropdown">
                        <div class="nav-link w-dropdown-toggle">
                            <div class="w-icon-dropdown-toggle"></div>
                            <div>Pages</div>
                        </div>
                        <nav class="dropdown-list w-dropdown-list"><a href="portfolio-detail.html"
                                class="dropdown-link w-dropdown-link">Portfolio detail</a><a href="single-post.html"
                                class="dropdown-link w-dropdown-link">Blog post detail</a></nav>
                    </div>
                    <a href="contact.html"
                        class="button-primary button-primary-small margin-left md-margin-bottom-small w-inline-block">
                        <div class="button-primary-text">hire me</div>
                    </a>
                </nav>
                <div class="menu-button order-last w-nav-button"><img src="assets/images/burger-menu-icon-white-1.svg"
                        width="22" alt="" class="burger-menu-icon white"><img src="assets/images/burger-menu-icon-1.svg"
                        width="22" alt="" class="burger-menu-icon"></div>
            </div>
        </div>
    </div>
</div>